<!-- attendance/templates/attendance/student_list.html -->

{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    Student List
{% endblock  %}

{% block navbar %}
<div class="navdiv">
    <div class="logo"><a href="#">Attendance Management System</a></div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
        <li><a href="{% url 'generate_report' %}">Generate Report</a></li>
        <button><a href="{% url 'register' %}">Register</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </ul>

</div>
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold mb-4">Student List</h1>
        <table class="min-w-full bg-white mt-4">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Name</th>
                    <th class="py-2 px-4 border-b">Roll Number</th>
                    <th class="py-2 px-4 border-b">Department</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td class="py-2 px-4 border-b">{{ student.name }}</td>
                    <td class="py-2 px-4 border-b">{{ student.roll_number }}</td>
                    <td class="py-2 px-4 border-b">{{ student.department }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
