<!-- base_generic.html -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <!-- Bootstrap CSS -->
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>
    {% block title %}

    
    {% endblock %}
  </title>
</head>
<body>
<nav class="navbar">
{% block navbar%}



{% endblock %}
</nav>
  
  <div>
    {% block content %}



    {% endblock %}
  </div>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
<div class="footer">
  @mail; rahulr26122005@gmail.com
  &copy; 2024 My Website
</div>
</html>
