{% extends 'base_generic.html'%}
{% load static %}
{% block title %}
    Generate Report
{% endblock %}

{% block navbar %}
<div class="navdiv">
    <div class="logo"><a href="#">Attendance Management System</a></div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'upload_students' %}">Upload Students</a></li>
        <li><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </ul>

</div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Generate Attendance Report</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Generate Report</button>
        </form>
    </div>   
{% endblock%}