<!-- group_specific.html -->
{% load static %}
{% extends 'base_generic.html' %}

{% block title %}
Group
{% endblock %}

{% block navbar %}
<div class="navdiv">
    <div class="logo"><a href="#">Attendance Management System</a></div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'upload_students' %}">Upload Students</a></li>
        <li><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
        <li><a href="{% url 'generate_report' %}">Generate Report</a></li>
        <button><a href="{% url 'register' %}">Register</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </ul>

</div>
{% endblock %}

{% block content %}
  <h2> this will be comming soon </h2>
  <h2>Group Specific Content</h2>
  <p>Only users in the specified group can see this.</p>
{% endblock %}