<!-- templates/home.html -->

{% extends 'base_generic.html'%}

{% load static %}

{% block title %}
    Home
    
{% endblock  %}

{% block navbar %}
<div class="navdiv">
    <div class="logo"><a href="#">Attendance Management System</a></div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'upload_students' %}">Upload Students</a></li>
        <li><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
        <li><a href="{% url 'generate_report' %}">Generate Report</a></li>
        <button><a href="{% url 'register' %}">Register</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </ul>

</div>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Welcome to My Website</h1>

        <p>This is the home page. Here you can find various links to different parts of the site.</p>
    </div>
    <div class="container">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            
            <p>To register the new user  click the <h5>"Register"</h5></p>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            
            <p>To create the students details click the  <h5>"Upload_Student"</h5></p>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_students' %}">Upload Student Details</a>
            </li>
            
            <p>To mark the Attendance by  click the <h5>"mark attendance" </h5></p>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'take_attendance' %}">Mark Attendance</a>
            </li>
            

            <p>To generate the Attendance report by  click the <h5>"generate attendance report"</h5> text</p>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'generate_report' %}">Generate Attendance Report</a>
            </li>
            <p>To logout by  click the Mark <h5>"logout"</h5></p>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Generate Attendance Report</a>
            </li>
      
    </div>
{% endblock %}
