{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
    Attendance Report
    
{% endblock  %}

{% block navbar %}
<div class="navdiv">
    <div class="logo"><a href="#">Attendance Management System</a></div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
        <li><a href="{% url 'generate_report' %}">Generate Report</a></li>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </ul>

</div>
{% endblock %}


{% block content %}
<body>
    <div class="container">
        <h1>Attendance Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Register No</th>
                    <th>Days Present</th>
                </tr>
            </thead>
            <tbody>
                {% for student, data in report_data.items %}
                <tr>
                    <td>{{ student }}</td>
                    <td>{{ data.register_no }}</td>
                    <td>{{ data.days_present }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
