{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    select class 
    
{% endblock  %}

{% block navbar %}
<div class="navdiv">
    <div class="logo"><a href="#">Attendance Management System</a></div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'upload_students' %}">Upload Students</a></li>
        <li><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
        <li><a href="{% url 'generate_report' %}">Generate Report</a></li>
        <button><a href="{% url 'register' %}">Register</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </ul>

</div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Select Class for Attendance</h1>
        <ul>
            {% for class in classes %}
            <li><a href="{% url 'take_attendance' class.id %}">{{ class.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}
