{% extends "base_generic.html" %}
{% load static %}

{% block title %}

Student Template

{% endblock %}

{% block content %}
<h1>Download Student Template</h1>

<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>student_class</th>
            <th>Section</th>
        </tr>
        <tr>
            <td>Mano</td>
            <td>1</td>
            <td>11</td>
            <td>A</td>
        </tr>
        <tr>
            <td>vignesh</td>
            <td>2</td>
            <td>11</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Balaji</td>
            <td>3</td>
            <td>11</td>
            <td>A</td>
        </tr>
        <tr>
            <td>jothi</td>
            <td>4</td>
            <td>11</td>
            <td>A</td>
        </tr>
        <tr>
            <td>abi</td>
            <td>5</td>
            <td>11</td>
            <td>A</td>
        </tr>
    </table>
        <table>
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>student_class</th>
            <th>Section</th>
        </tr>
        <tr>
            <td>Mano</td>
            <td>1</td>
            <td>12</td>
            <td>A</td>
        </tr>
        <tr>
            <td>vignesh</td>
            <td>2</td>
            <td>12</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Balaji</td>
            <td>3</td>
            <td>12</td>
            <td>A</td>
        </tr>
        <tr>
            <td>jothi</td>
            <td>4</td>
            <td>12</td>
            <td>A</td>
        </tr>
        <tr>
            <td>abi</td>
            <td>5</td>
            <td>12</td>
            <td>A</td>
        </tr>
    </table>

</div>
{% endblock %}
